In [1]:
from scripts.functions import PowerBiFunctions
import numpy as np
import pandas as pd

In [2]:
pbf = PowerBiFunctions('Ventas-Totales-Detalladas.xlsx')

In [3]:
pbf.sum(column_name='Neto')

7865227.92

In [4]:
pbf.get_column_names()

Index(['CODCLI', 'CODART', 'Repesentante', 'Cliente', 'Pais',
       'Comunidad autónoma', 'Provincia', 'Zona', 'Artículo', 'Familia',
       'Tipo contable', 'Serie', 'Nº factura', 'Fecha', 'Ejercicio',
       'Trimestre', 'Mes', 'Nombre mes', 'Descripción',
       'Característica 1 cliente', 'Característica 2 cliente',
       'Característica 3 cliente', 'Característica 4 cliente',
       'Característica 5 cliente', 'Característica 6 cliente',
       'Característica 7 cliente', 'Característica 8 cliente',
       'Característica 9 cliente', 'Característica 10 cliente',
       'Característica 1 organización', 'Característica 2 organización',
       'Característica 3 organización', 'Característica 4 organización',
       'Característica 5 organización', 'Característica 6 organización',
       'Característica 7 organización', 'Característica 8 organización',
       'Característica 9 organización', 'Característica 10 organización',
       'Característica 1 artículo', 'Característica 2 artículo',
       'Característica 3 artículo', 'Característica 4 artículo',
       'Característica 5 artículo', 'Característica 6 artículo',
       'Característica 7 artículo', 'Característica 8 artículo',
       'Característica 9 artículo', 'Característica 10 artículo',
       'Campo parametrizable 1', 'Campo parametrizable 2',
       'Campo parametrizable 3', 'Campo parametrizable 4',
       'Campo parametrizable 5', 'Campo parametrizable 6',
       'Campo parametrizable 7', 'Campo parametrizable 8',
       'Campo parametrizable 9', 'Neto', 'Bruto', 'Unidades'],
      dtype='object')

In [5]:
pbf.get_head()

,CODCLI,CODART,Repesentante,Cliente,Pais,Comunidad autónoma,Provincia,Zona,Artículo,Familia,...,Campo parametrizable 3,Campo parametrizable 4,Campo parametrizable 5,Campo parametrizable 6,Campo parametrizable 7,Campo parametrizable 8,Campo parametrizable 9,Neto,Bruto,Unidades
0,3,1,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3350.20,4408.16,8
1,3,2,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta mountain infantil,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2161.98,2573.78,22
2,3,5,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera mod. B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8602.93,10889.78,22
3,3,7,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Mountain bike,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,997.74,1187.78,22
4,3,11,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera modelo C,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9385.03,11879.78,22

In [6]:
pbf.multiply('Neto', -1)

0      -3350.20
1      -2161.98
2      -8602.93
3       -997.74
4      -9385.03
         ...
2094   -1376.97
2095   -1070.97
2096   -1376.97
2097   -1329.96
2098   -1709.96
Name: Neto, Length: 2099, dtype: float64

In [7]:
pbf.subtract('Neto', 10000)

0      -6649.80
1      -7838.02
2      -1397.07
3      -9002.26
4       -614.97
         ...
2094   -8623.03
2095   -8929.03
2096   -8623.03
2097   -8670.04
2098   -8290.04
Name: Neto, Length: 2099, dtype: float64

In [8]:
pbf.division('Neto', 10)

0       335.020
1       216.198
2       860.293
3        99.774
4       938.503
         ...
2094    137.697
2095    107.097
2096    137.697
2097    132.996
2098    170.996
Name: Neto, Length: 2099, dtype: float64

In [9]:
pbf.modulo('Neto', 2)

0       0.20
1       1.98
2       0.93
3       1.74
4       1.03
        ...
2094    0.97
2095    0.97
2096    0.97
2097    1.96
2098    1.96
Name: Neto, Length: 2099, dtype: float64

In [10]:
pbf.percentage('Neto', 1)

0       33.5020
1       21.6198
2       86.0293
3        9.9774
4       93.8503
         ...
2094    13.7697
2095    10.7097
2096    13.7697
2097    13.2996
2098    17.0996
Name: Neto, Length: 2099, dtype: float64

In [11]:
pbf.square_root('Neto')

0       57.880912
1       46.497097
2       92.751981
3       31.587023
4       96.876365
          ...
2094    37.107546
2095    32.725678
2096    37.107546
2097    36.468617
2098    41.351663
Name: Neto, Length: 2099, dtype: float64

In [12]:
pbf.exponent('Neto')

/home/fflores/anaconda3/envs/uto_2021/lib/python3.9/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*inputs, **kwargs)

0       inf
1       inf
2       inf
3       inf
4       inf
       ...
2094    inf
2095    inf
2096    inf
2097    inf
2098    inf
Name: Neto, Length: 2099, dtype: float64

In [13]:
pbf.logarithm_base10('Neto')

/home/fflores/anaconda3/envs/uto_2021/lib/python3.9/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: invalid value encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

0       3.525071
1       3.334852
2       3.934646
3       2.999017
4       3.972436
          ...
2094    3.138924
2095    3.029777
2096    3.138924
2097    3.123839
2098    3.232986
Name: Neto, Length: 2099, dtype: float64

In [14]:
pbf.logarithm_natural('Neto')

/home/fflores/anaconda3/envs/uto_2021/lib/python3.9/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

0       8.116775
1       7.678780
2       9.059858
3       6.905493
4       9.146871
          ...
2094    7.227641
2095    6.976320
2096    7.227641
2097    7.192904
2098    7.444225
Name: Neto, Length: 2099, dtype: float64

In [15]:
pbf.factorial('Unidades')

0                        40320
1       1124000727777607680000
2       1124000727777607680000
3       1124000727777607680000
4       1124000727777607680000
                 ...
2094                        24
2095                        24
2096                        24
2097                        24
2098                        24
Name: Unidades, Length: 2099, dtype: object

In [16]:
pbf.sine('Neto')

0       0.952770
1       0.534786
2       0.948768
3      -0.959849
4      -0.887893
          ...
2094    0.814819
2095    0.308005
2096    0.814819
2097   -0.875422
2098    0.803765
Name: Neto, Length: 2099, dtype: float64

In [17]:
pbf.cosine('Neto')

0       0.303692
1       0.844988
2       0.315973
3       0.280517
4      -0.460051
          ...
2094    0.579715
2095   -0.951385
2096    0.579715
2097   -0.483360
2098    0.594947
Name: Neto, Length: 2099, dtype: float64

In [18]:
pbf.tangent('Neto')

0       3.137294
1       0.632892
2       3.002689
3      -3.421717
4       1.929987
          ...
2094    1.405552
2095   -0.323743
2096    1.405552
2097    1.811117
2098    1.350985
Name: Neto, Length: 2099, dtype: float64

In [19]:
pbf.arcsine('Neto')

/home/fflores/anaconda3/envs/uto_2021/lib/python3.9/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: invalid value encountered in arcsin
  result = getattr(ufunc, method)(*inputs, **kwargs)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
2094   NaN
2095   NaN
2096   NaN
2097   NaN
2098   NaN
Name: Neto, Length: 2099, dtype: float64

In [20]:
pbf.arccosine('Neto')

/home/fflores/anaconda3/envs/uto_2021/lib/python3.9/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: invalid value encountered in arccos
  result = getattr(ufunc, method)(*inputs, **kwargs)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
2094   NaN
2095   NaN
2096   NaN
2097   NaN
2098   NaN
Name: Neto, Length: 2099, dtype: float64

In [21]:
pbf.arctangent('Neto')

0       1.570498
1       1.570334
2       1.570680
3       1.569794
4       1.570690
          ...
2094    1.570070
2095    1.569863
2096    1.570070
2097    1.570044
2098    1.570212
Name: Neto, Length: 2099, dtype: float64

In [22]:
pbf.average('Neto')

3747.130976655563

In [23]:
pbf.media('Neto')

2065.45

In [24]:
pbf.standard_deviation('Neto')

4130.916825250074

In [25]:
pbf.count('Neto')

2099

In [26]:
pbf.count_distinct_values('Neto')

1034

In [27]:
pbf.choose_columns(['Repesentante','Cliente'])

               Repesentante                   Cliente
0     Fernando Gómez Garcia   DEPORTES REUNIDOS, S.L.
1     Fernando Gómez Garcia   DEPORTES REUNIDOS, S.L.
2     Fernando Gómez Garcia   DEPORTES REUNIDOS, S.L.
3     Fernando Gómez Garcia   DEPORTES REUNIDOS, S.L.
4     Fernando Gómez Garcia   DEPORTES REUNIDOS, S.L.
...                     ...                       ...
2094    Juanjo Pérez Romero  DEPORTES DE RUEDAS, S.L.
2095  Fernando Gómez Garcia                SPORTS ABC
2096  Fernando Gómez Garcia                SPORTS ABC
2097    Juanjo Pérez Romero              SPORTI, S.A.
2098    Juanjo Pérez Romero              SPORTI, S.A.

[2099 rows x 2 columns]

In [28]:
pbf.remove_columns(['Repesentante','Cliente'])

,CODCLI,CODART,Pais,Comunidad autónoma,Provincia,Zona,Artículo,Familia,Tipo contable,Serie,...,Campo parametrizable 3,Campo parametrizable 4,Campo parametrizable 5,Campo parametrizable 6,Campo parametrizable 7,Campo parametrizable 8,Campo parametrizable 9,Neto,Bruto,Unidades
0,3,1,ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera,NaN,1,2013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3350.20,4408.16,8
1,3,2,ESPAÑA,MADRID,MADRID,Centro,Bicicleta mountain infantil,NaN,1,2013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2161.98,2573.78,22
2,3,5,ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera mod. B,NaN,1,2013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8602.93,10889.78,22
3,3,7,ESPAÑA,MADRID,MADRID,Centro,Mountain bike,NaN,1,2013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,997.74,1187.78,22
4,3,11,ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera modelo C,NaN,1,2013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9385.03,11879.78,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2094,20,9,ESPAÑA,CASTILLA-LEON,AVILA,Centro,Bicicleta tres asientos,NaN,1,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1376.97,1619.96,4
2095,1,3,ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta dual,NaN,1,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1070.97,1259.96,4
2096,1,9,ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta tres asientos,NaN,1,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1376.97,1619.96,4
2097,2,3,ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta dual,NaN,1,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1329.96,1329.96,4
2098,2,9,ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta tres asientos,NaN,1,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1709.96,1709.96,4

In [29]:
pbf.keep_top_rows(10)

,CODCLI,CODART,Repesentante,Cliente,Pais,Comunidad autónoma,Provincia,Zona,Artículo,Familia,...,Campo parametrizable 3,Campo parametrizable 4,Campo parametrizable 5,Campo parametrizable 6,Campo parametrizable 7,Campo parametrizable 8,Campo parametrizable 9,Neto,Bruto,Unidades
0,3,1,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3350.20,4408.16,8
1,3,2,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta mountain infantil,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2161.98,2573.78,22
2,3,5,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera mod. B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8602.93,10889.78,22
3,3,7,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Mountain bike,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,997.74,1187.78,22
4,3,11,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera modelo C,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9385.03,11879.78,22
5,3,10,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Monociclo,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101.55,1295.94,6
6,3,12,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Asiento para bicicleta velocidad,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,291.04,342.40,8
7,3,13,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Casco bicicleta,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1160.95,1382.08,32
8,3,15,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Gafas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1312.01,1561.92,32
9,4,1,Maria López López,"ANDA-ANDA, S.A.",ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta carrera,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8142.96,8142.96,14

In [30]:
pbf.keep_tail_rows(10)

,CODCLI,CODART,Repesentante,Cliente,Pais,Comunidad autónoma,Provincia,Zona,Artículo,Familia,...,Campo parametrizable 3,Campo parametrizable 4,Campo parametrizable 5,Campo parametrizable 6,Campo parametrizable 7,Campo parametrizable 8,Campo parametrizable 9,Neto,Bruto,Unidades
2089,4,9,Maria López López,"ANDA-ANDA, S.A.",ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta tres asientos,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9832.27,9832.27,23
2090,9,3,Maria López López,EUROFRED,ESPAÑA,NAVARRA,NAVARRA,Sur,Bicicleta dual,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,664.98,664.98,2
2091,9,9,Maria López López,EUROFRED,ESPAÑA,NAVARRA,NAVARRA,Sur,Bicicleta tres asientos,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,854.98,854.98,2
2092,14,3,Maria López López,"DEPORTES LOPEZ, S.L.",ESPAÑA,ANDALUCÍA,MALAGA,Este,Bicicleta dual,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,699.98,699.98,2
2093,15,9,Juanjo Pérez Romero,SPORTS MARÍA,ESPAÑA,MADRID,MADRID,Norte,Bicicleta tres asientos,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,764.98,899.98,2
2094,20,9,Juanjo Pérez Romero,"DEPORTES DE RUEDAS, S.L.",ESPAÑA,CASTILLA-LEON,AVILA,Centro,Bicicleta tres asientos,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1376.97,1619.96,4
2095,1,3,Fernando Gómez Garcia,SPORTS ABC,ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta dual,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1070.97,1259.96,4
2096,1,9,Fernando Gómez Garcia,SPORTS ABC,ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta tres asientos,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1376.97,1619.96,4
2097,2,3,Juanjo Pérez Romero,"SPORTI, S.A.",ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta dual,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1329.96,1329.96,4
2098,2,9,Juanjo Pérez Romero,"SPORTI, S.A.",ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta tres asientos,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1709.96,1709.96,4

In [46]:
pbf.keep_range_rows(0,50).head(10)

,CODCLI,CODART,Repesentante,Cliente,Pais,Comunidad autónoma,Provincia,Zona,Artículo,Familia,...,Campo parametrizable 4,Campo parametrizable 5,Campo parametrizable 6,Campo parametrizable 7,Campo parametrizable 8,Campo parametrizable 9,Neto,Bruto,Unidades,new-column
0,3,1,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3350.20,4409.0,8,"DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia"
1,3,2,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta mountain infantil,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2161.98,2573.0,22,"DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia"
2,3,5,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera mod. B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8602.93,10889.0,22,"DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia"
3,3,7,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Mountain bike,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,997.74,1187.0,22,"DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia"
4,3,11,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera modelo C,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9385.03,11879.0,22,"DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia"
5,3,10,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Monociclo,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1101.55,1295.0,6,"DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia"
6,3,12,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Asiento para bicicleta velocidad,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,291.04,343.0,8,"DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia"
7,3,13,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Casco bicicleta,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1160.95,1383.0,32,"DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia"
8,3,15,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Gafas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1312.01,1561.0,32,"DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia"
9,4,1,Maria López López,"ANDA-ANDA, S.A.",ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta carrera,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8142.96,8143.0,14,"ANDA-ANDA, S.A._Maria López López"

In [32]:
pbf.split_column_delimiter('Repesentante', ['nombre','materno','paterno'], ' ')

,CODCLI,CODART,Repesentante,Cliente,Pais,Comunidad autónoma,Provincia,Zona,Artículo,Familia,...,Campo parametrizable 6,Campo parametrizable 7,Campo parametrizable 8,Campo parametrizable 9,Neto,Bruto,Unidades,nombre,materno,paterno
0,3,1,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera,NaN,...,NaN,NaN,NaN,NaN,3350.20,4408.16,8,Fernando,Gómez,Garcia
1,3,2,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta mountain infantil,NaN,...,NaN,NaN,NaN,NaN,2161.98,2573.78,22,Fernando,Gómez,Garcia
2,3,5,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera mod. B,NaN,...,NaN,NaN,NaN,NaN,8602.93,10889.78,22,Fernando,Gómez,Garcia
3,3,7,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Mountain bike,NaN,...,NaN,NaN,NaN,NaN,997.74,1187.78,22,Fernando,Gómez,Garcia
4,3,11,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera modelo C,NaN,...,NaN,NaN,NaN,NaN,9385.03,11879.78,22,Fernando,Gómez,Garcia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2094,20,9,Juanjo Pérez Romero,"DEPORTES DE RUEDAS, S.L.",ESPAÑA,CASTILLA-LEON,AVILA,Centro,Bicicleta tres asientos,NaN,...,NaN,NaN,NaN,NaN,1376.97,1619.96,4,Juanjo,Pérez,Romero
2095,1,3,Fernando Gómez Garcia,SPORTS ABC,ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta dual,NaN,...,NaN,NaN,NaN,NaN,1070.97,1259.96,4,Fernando,Gómez,Garcia
2096,1,9,Fernando Gómez Garcia,SPORTS ABC,ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta tres asientos,NaN,...,NaN,NaN,NaN,NaN,1376.97,1619.96,4,Fernando,Gómez,Garcia
2097,2,3,Juanjo Pérez Romero,"SPORTI, S.A.",ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta dual,NaN,...,NaN,NaN,NaN,NaN,1329.96,1329.96,4,Juanjo,Pérez,Romero
2098,2,9,Juanjo Pérez Romero,"SPORTI, S.A.",ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta tres asientos,NaN,...,NaN,NaN,NaN,NaN,1709.96,1709.96,4,Juanjo,Pérez,Romero

In [33]:
pbf.split_column_delimiter('Repesentante', ['nombre','materno','paterno'], ' ')

,CODCLI,CODART,Repesentante,Cliente,Pais,Comunidad autónoma,Provincia,Zona,Artículo,Familia,...,Campo parametrizable 6,Campo parametrizable 7,Campo parametrizable 8,Campo parametrizable 9,Neto,Bruto,Unidades,nombre,materno,paterno
0,3,1,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera,NaN,...,NaN,NaN,NaN,NaN,3350.20,4408.16,8,Fernando,Gómez,Garcia
1,3,2,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta mountain infantil,NaN,...,NaN,NaN,NaN,NaN,2161.98,2573.78,22,Fernando,Gómez,Garcia
2,3,5,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera mod. B,NaN,...,NaN,NaN,NaN,NaN,8602.93,10889.78,22,Fernando,Gómez,Garcia
3,3,7,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Mountain bike,NaN,...,NaN,NaN,NaN,NaN,997.74,1187.78,22,Fernando,Gómez,Garcia
4,3,11,Fernando Gómez Garcia,"DEPORTES REUNIDOS, S.L.",ESPAÑA,MADRID,MADRID,Centro,Bicicleta carrera modelo C,NaN,...,NaN,NaN,NaN,NaN,9385.03,11879.78,22,Fernando,Gómez,Garcia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2094,20,9,Juanjo Pérez Romero,"DEPORTES DE RUEDAS, S.L.",ESPAÑA,CASTILLA-LEON,AVILA,Centro,Bicicleta tres asientos,NaN,...,NaN,NaN,NaN,NaN,1376.97,1619.96,4,Juanjo,Pérez,Romero
2095,1,3,Fernando Gómez Garcia,SPORTS ABC,ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta dual,NaN,...,NaN,NaN,NaN,NaN,1070.97,1259.96,4,Fernando,Gómez,Garcia
2096,1,9,Fernando Gómez Garcia,SPORTS ABC,ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta tres asientos,NaN,...,NaN,NaN,NaN,NaN,1376.97,1619.96,4,Fernando,Gómez,Garcia
2097,2,3,Juanjo Pérez Romero,"SPORTI, S.A.",ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta dual,NaN,...,NaN,NaN,NaN,NaN,1329.96,1329.96,4,Juanjo,Pérez,Romero
2098,2,9,Juanjo Pérez Romero,"SPORTI, S.A.",ESPAÑA,CATALUNYA,BARCELONA,Este,Bicicleta tres asientos,NaN,...,NaN,NaN,NaN,NaN,1709.96,1709.96,4,Juanjo,Pérez,Romero

In [34]:
pbf.extract_month('Fecha')

0       1
1       1
2       1
3       1
4       1
       ..
2094    3
2095    4
2096    4
2097    4
2098    4
Name: Fecha, Length: 2099, dtype: int64

In [35]:
pbf.extract_year('Fecha')

0       2013
1       2013
2       2013
3       2013
4       2013
        ...
2094    2015
2095    2015
2096    2015
2097    2015
2098    2015
Name: Fecha, Length: 2099, dtype: int64

In [36]:
pbf.extract_day('Fecha')

0        5
1        5
2        5
3        5
4        5
        ..
2094    26
2095     5
2096     5
2097     5
2098     5
Name: Fecha, Length: 2099, dtype: int64

In [37]:
pbf.extract_hour('Fecha')

0       0
1       0
2       0
3       0
4       0
       ..
2094    0
2095    0
2096    0
2097    0
2098    0
Name: Fecha, Length: 2099, dtype: int64

In [38]:
pbf.extract_minute('Fecha')

0       0
1       0
2       0
3       0
4       0
       ..
2094    0
2095    0
2096    0
2097    0
2098    0
Name: Fecha, Length: 2099, dtype: int64

In [39]:
pbf.extract_second('Fecha')

0       0
1       0
2       0
3       0
4       0
       ..
2094    0
2095    0
2096    0
2097    0
2098    0
Name: Fecha, Length: 2099, dtype: int64

In [40]:
pbf.extract_week('Fecha')

/home/fflores/UTO_master_ds/modulo-1_Introduccion/big-team-project/scripts/functions.py:261: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  result = self.df[column_name].dt.week

0        1
1        1
2        1
3        1
4        1
        ..
2094    13
2095    14
2096    14
2097    14
2098    14
Name: Fecha, Length: 2099, dtype: int64

In [41]:
pbf.last_char('Repesentante')

0       a
1       a
2       a
3       a
4       a
       ..
2094    o
2095    a
2096    a
2097    o
2098    o
Name: Repesentante, Length: 2099, dtype: object

In [42]:
pbf.first_char('Repesentante')

0       F
1       F
2       F
3       F
4       F
       ..
2094    J
2095    F
2096    F
2097    J
2098    J
Name: Repesentante, Length: 2099, dtype: object

In [43]:
pbf.merge_columns('new-column', ['Cliente', 'Repesentante'], '_')

0       DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia
1       DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia
2       DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia
3       DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia
4       DEPORTES REUNIDOS, S.L._Fernando Gómez Garcia
                            ...
2094     DEPORTES DE RUEDAS, S.L._Juanjo Pérez Romero
2095                 SPORTS ABC_Fernando Gómez Garcia
2096                 SPORTS ABC_Fernando Gómez Garcia
2097                 SPORTI, S.A._Juanjo Pérez Romero
2098                 SPORTI, S.A._Juanjo Pérez Romero
Name: new-column, Length: 2099, dtype: object

In [44]:
pbf.round_even('Bruto')

0        4409.0
1        2573.0
2       10889.0
3        1187.0
4       11879.0
         ...
2094     1619.0
2095     1259.0
2096     1619.0
2097     1329.0
2098     1709.0
Name: Bruto, Length: 2099, dtype: float64

In [45]:
pbf.round_odd('Bruto')

0        4409.0
1        2573.0
2       10889.0
3        1187.0
4       11879.0
         ...
2094     1619.0
2095     1259.0
2096     1619.0
2097     1329.0
2098     1709.0
Name: Bruto, Length: 2099, dtype: float64