In [1]:
# Imports
import scripts.widgets as widgets
from scripts.Main import Main
from scripts.Date import Date

In [2]:
# Seleccion del excel para importar
main = Main('Ventas-Totales-Detalladas.xlsx')

In [3]:
# Obtencion del excel como dataframe
df = main.get_df()

In [4]:
# Seleccion de las columnas solo de tipo date
date_type_columns = df.select_dtypes('datetime64[ns]')
columns = list(date_type_columns)

In [7]:
# Despliegue del combo para seleccionar columna
menu = widgets.dropdown(columns,'Column Name:')
menu

Dropdown(description='Column Name:', options=('Nombre mes',), value='Nombre mes')

In [8]:
# Extraccion del anio de la columna seleccionada
date = Date(df)
date.extract_year(menu.value)

0       2016
1       2016
2       2016
3       2016
4       2016
        ...
2094    2016
2095    2016
2096    2016
2097    2016
2098    2016
Name: Nombre mes, Length: 2099, dtype: int64

In [9]:
# Extraccion del mes de la columna seleccionada
date.extract_month(menu.value)

0       1
1       1
2       1
3       1
4       1
       ..
2094    3
2095    4
2096    4
2097    4
2098    4
Name: Nombre mes, Length: 2099, dtype: int64

In [10]:
# Extraccion del dia de la columna seleccionada
date.extract_day(menu.value)

0       1
1       1
2       1
3       1
4       1
       ..
2094    3
2095    4
2096    4
2097    4
2098    4
Name: Nombre mes, Length: 2099, dtype: int64

In [12]:
# Extraccion de la semana de la columna seleccionada
date.extract_week(menu.value)

/home/fflores/UTO_master_ds/modulo-1_Introduccion/big-team-project/scripts/Date.py:25: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  result = self.df[column_name].dt.week

0       53
1       53
2       53
3       53
4       53
        ..
2094     9
2095    14
2096    14
2097    14
2098    14
Name: Nombre mes, Length: 2099, dtype: int64

In [13]:
# Extraccion del trimestre de la columna seleccionada
date.extract_quarter(menu.value)

0       1
1       1
2       1
3       1
4       1
       ..
2094    1
2095    2
2096    2
2097    2
2098    2
Name: Nombre mes, Length: 2099, dtype: int64